{% extends 'base.html' %}
{% block content %}
{% include 'admin/_messages.html' %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>
<div class="container mt-5">
    <table class="table table-sm table-condensed table-striped">
        <thead>
          <th>Sr</th>
          <th>Product</th>
          <th>Price</th>
          <th>Discount</th>
          <th>Brand</th>
          <th>Image</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead>
        <tbody>
        {% for product in products%}
          <tr>
              <td>{{ loop.index }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.discount }} %</td>
              <td>{{ product.brand.name }}</td>
              <td><img src="{{ url_for('static', filename='images/' + product.image_1) }}" width="50" height="40"> </td>
              <td>Edit</td>
              <td>Delete</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}